@import "vars";

.mobile-menu {
    padding: 0 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}
.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}
.mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
}
.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
}
.mobile-menu ul li {
    margin-bottom: 24px;
}
.mobile-menu .email {
    font-size: var(--sm);
    font-weight: 300;
}
.mobile-menu .sign-out {
    color: var(--hospital-green);
    font-size: var(--sm);
}
