@import 'vars';

.MenuDesktop {
  width: 100px;
  height: auto;
  border: 1px solid $--very-light-pink;
  border-radius: 6px;
  padding: 20px 20px 0 20px;
  position: absolute;
  top: 60px;
  right: 50px;
  background-color: $--white;
}
.MenuDesktop ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.MenuDesktop ul li {
  text-align: end;
}
.MenuDesktop ul li:nth-child(1),
.MenuDesktop ul li:nth-child(2) {
  font-weight: bold;
}
.MenuDesktop ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid $--very-light-pink;
}
.MenuDesktop ul li:last-child a {
  color: $--hospital-green;
  font-size: $--sm;
}
.MenuDesktop ul li a {
  color: $--black;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}
